#background-video {
opacity: 0.25;
height: 100vh;
width: 100vw;
object-fit: cover;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
z-index: -1;
}

@media (max-width: 750px) {
#background-video { display: none; }
body {
background: url("https://cdn.aza229432.co.uk/video1.mp4") no-repeat;
background-size: cover;
}
}

body {
background-color: black;
}

a {
color: white;
font-size: larger;
transition-duration: 0.4s;
animation: bg 2s ease-in-out infinite alternate;
font-weight: 100%;
}

a:hover {
  font-size: 110%;
  letter-spacing: .1rem;
}

@keyframes bg {
from {
  text-shadow: rgba(255, 255, 255, 0.25) 0 0 1px, rgba(255, 255, 255, 0.25) 0 0 2px, rgba(255, 255, 255, 0.25) 0 0 3px;
}
to {
  text-shadow: rgba(255, 255, 255, 0.75) 0 0 10px, rgba(255, 255, 255, 0.75) 0 0 15px, rgba(255, 255, 255, 0.75) 0 0 20px;
}
}

@keyframes glow {
    from {
      text-shadow: 0 0 1px white, 0 0 3px white, 0 0 5px #851dcf, 0 0 7px #851dcf, 0 0 9px #851dcf, 0 0 11px #851dcf, 0 0 13px #851dcf;
    }
    to {
      text-shadow: 0 0 3px white, 0 0 4px #871f1f, 0 0 5px #871f1f, 0 0 6px #871f1f, 0 0 7px #871f1f, 0 0 8px #871f1f, 0 0 9px #871f1f;
    }
  }

  h1 {
	background-color: rgba(255, 255, 255, 0);
	color: white;
	font-size: 112px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900%;
  	animation: glow 1s ease-in-out infinite alternate;
}

h3 {
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 48px;
}

h2 {
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 36px;
	font-weight: 20%;
}

h6 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

div.fixed {
    position: fixed;
    width: 29%;
    bottom: 10px;
  } 

  h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }

  li {
    color: white;
  }