#background-video {
    opacity: 0.25;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

    @media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("https://cdn.aza229432.co.uk/video2.mp4") no-repeat;
      background-size: cover;
    }
}

body {
    background-color: black;
}

@keyframes glow {
    from {
      text-shadow: 0 0 1px white, 0 0 3px white, 0 0 5px #851dcf, 0 0 7px #851dcf, 0 0 9px #851dcf, 0 0 11px #851dcf, 0 0 13px #851dcf;
    }
    to {
      text-shadow: 0 0 3px white, 0 0 4px #871f1f, 0 0 5px #871f1f, 0 0 6px #871f1f, 0 0 7px #871f1f, 0 0 8px #871f1f, 0 0 9px #871f1f;
    }
  }

  h1 {
	background-color: rgba(255, 255, 255, 0);
	color: white;
	font-size: 152px;
	font-family: sans-serif;
	font-weight: 900%;
  	animation: glow 1s ease-in-out infinite alternate;
}
  
a{
  	transition-duration: 0.4s;
  	animation: bg 2s ease-in-out infinite alternate;
	color: white;
	font-weight: 100%;
}

a:hover {
  	font-size: 110%;
  	letter-spacing: .1rem;
}

@keyframes bg {
	from {
		text-shadow: rgba(255, 255, 255, 0.25) 0 0 1px, rgba(255, 255, 255, 0.25) 0 0 2px, rgba(255, 255, 255, 0.25) 0 0 3px;
	}
	to {
		text-shadow: rgba(255, 255, 255, 0.75) 0 0 10px, rgba(255, 255, 255, 0.75) 0 0 15px, rgba(255, 255, 255, 0.75) 0 0 20px;
	}
}

p {
	box-align: center;
	text-align: center;
  	position: fixed;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 100%;
}

h2 {
	box-align: center;
	text-align: center;
	margin: 10% 0;
  	position: fixed;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: Arial Narrow;
	font-size: 28px;
	font-weight: 20%;
}

h3 {
	color: white;
	font-family: Lato;
	font-size: 36px;
}

img {
	size: 24px;
	margin-top: 10%;
	left: 50%;
	transform: translate(0%, 175%);
	width: 2%;
}

h4 {
	color: white;
	font-size: 10vh;
	font-weight: 900%;
	background-color: rgba(255, 255, 255, 0);
}

h5 {
	box-align: center;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -200%);
	color: white;
	font-family: Lato;
	font-size: 12px;
}


.tile {
	background-repeat: repeat;
	box-align: center;
	width: 100%;
	height: 95.75vh;
}

